.home-cards-top{
    background: $color2;
    width: 40vw;
    // min-width: 400px;
    height: 44vh;
    border-radius: 30px;
    color: $font-color1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    @media screen and(max-width: 980px){
        width: 82vw;
        margin-bottom: 1rem;
    }
    @media screen and(max-width: 500px){
        font-size: 20px;
    }
    &-about-reverse{
        width: 100%;
        height: 100%;
        position: relative;

        & p {
            position: absolute;
            z-index: 2;
            width: 60%;
            bottom: 0;
            left: 15px;
            @media screen and(max-width: 500px){
                font-size: 20px;
            }
        }
       
    }
    &-profil-picture{
        width: 100%;
        height: 100%;
        object-fit:cover;
        border-radius: 30px;
        filter: blur(3px);
    }

    &-contact-reverse{
        width: 100%;
        height: 100%;
        position: relative;
        background: $color1;
        border-radius: 30px;

        & p {
            position: absolute;
            z-index: 2;
            width: 60%;
            bottom: 0;
            left: 15px;
            @media screen and(max-width: 500px){
                font-size: 20px;
            }
        }
        & img{
            width: 100%;
            height: 60%;
            object-fit:cover;
            border-radius: 30px 30px 0px 0px;
        }
       
    }

    &-work-reverse{
        width: 100%;
        height: 100%;
        display: flex;
        // justify-content: center;
        align-items: center;
        flex-direction: column;
        background: $color1;
        border-radius: 30px;

        & img{
            width: 90%;
            height: 65%;
            object-fit:cover;
            border-radius: 30px;
        }
        @media screen and(max-width: 500px){
            font-size: 20px;
        }
    }

   

}
.home-cards-bottom{
    background: $color2;
    width: 82vw;
    height: 50vh;
    border-radius: 30px;
    margin-top: 2rem;
    color: $font-color1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    @media screen and(max-width: 980px){
        margin-top: 0;
    }
    @media screen and(max-width: 500px){
        font-size: 20px;
    }
}
.stack-card{
    width: 100%;
    height: 30vh;
    background-color: $color2;
    border-radius: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    @media screen and(max-width: 980px){
        background: none;
    }

    & ul{
        display: flex;
        width: 100%;
        height: 50%;
        justify-content: space-evenly;
        align-items: center;
        padding: 0;

        & li img{
            width: 85px;
            height: 85px;
            animation: appearing 2s;
            @media screen and(max-width: 500px){
                width: 65px;
                height: 65px;
            }
            @media screen and(max-width: 380px){
                width: 50px;
                height: 50px;
            }
        }
    }
}

.project-card{
    height: 250px;
    width: 350px;
    background: #39393959;
    border-radius: 30px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.5s cubic-bezier(0.86,0,0.07,1);
    color: white;
    font-weight: bold;
    perspective : 2000px;
    perspective-origin: top;
    animation: appearing 3s;

    &:hover{
        transform: rotateY(180deg);
    }

    &-front{
        display: flex;
        align-items: center;
        justify-content: center;
        & img{
            width: 95%;
            height: 95%;
            object-fit: cover;
        }
    }
    &-front, &-back{
        position: absolute;
        height: 100%;
        width: 100%;
        // padding: 30px;
        border-radius: 30px;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
    }
    &-back{
        background: #39393959;
        transform: rotateY(180deg);
        &-content{
            position: relative;
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            
            & img{
                width: 100%;
                height: 100%;
                border-radius: 30px;
                object-fit:cover;
                position: absolute;
                filter: brightness(0.5);
            }
            & h1{
                position: absolute;
                z-index: 2;
            }
        }
        
    }

   
}