.footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    color: $font-color2;
    font-size: 50px;
    gap: 15px;
    padding-bottom: 1rem;
    grid-column-start: 2;
}