.form-container{
    display: flex;
    height: 65vh;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    
    &-left{
        height: 100%;
        width: 245px;
        color: $font-color1;
        & p{
        display: flex;
        align-items: center;
        justify-content: center;
        background: $color1-low;
        height: 7vh;
        border-radius: 30px;
        font-size: 14px;
        } 
        &-resume{
            height: 67%;
            width: 100%;
            border-radius: 30px;
            position: relative;
            & img{
                object-fit: fill;
                height: 100%;
                width: 100%;
                border-radius: 30px;

                &:hover{
                    filter: brightness(0.3);
                    transition: 0.5s;
                    cursor: pointer;
                }
            }
            & i{
                position: absolute;
                top: 40%;
                left: 40%;
                font-size: 50px;
                color: $font-color2;
            }
            
        }  
    }
    &-right{
        background: $color2-low;
        border-radius: 30px;
        height: 100%;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        & form{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            height: 100%;
            width: 80%;
            color: $font-color1;

            & input, textarea{
                background: black;
                border: none;
                border-radius: 30px;
                resize: none;
                color: $font-color1;
            }
            & input{
                height: 5vh;
            }
            & textarea{
                height: 20vh;
            }
        }

    }

    
}