.form-container{
    display: flex;
    height: 65vh;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-bottom: 1rem;
    @media screen and(max-width: 780px){
        height: auto;
        flex-direction: column-reverse;
    }
    
    &-left{
        height: 100%;
        width: 245px;
        color: $font-color1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @media screen and(max-width: 780px){
            flex-direction: row;
            width: 80%;
        }
        @media screen and(max-width: 500px){
            display: block;
        }
        &-content{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            height: 100%;
            &-text{
                background: $color1-low;
                height: 7vh;
                border-radius: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                @media screen and(max-width: 780px){
                    margin-bottom: 1rem;
                }
                & p{
                    font-size: 12px;
                    font-family: $font1;
                } 
            }
        }
        
        
        &-resume{
            height: 100%;
            width: 100%;
            border-radius: 30px;
            position: relative;
            @media screen and(max-width: 500px){
                display: none;
            }
            & img{
                object-fit: fill;
                height: 100%;
                width: 100%;
                border-radius: 30px;
                @media screen and(max-width: 780px){
                    object-fit : cover;
                    object-position: top;
                    height: 50%;
                    width: 95%;
                    margin-left: 5%;
                }

                &:hover{
                    filter: brightness(0.3);
                    transition: 0.5s;
                    cursor: pointer;
                }
            }
            & i{
                position: absolute;
                top: 40%;
                left: 40%;
                font-size: 50px;
                color: $font-color2;
                @media screen and(max-width: 780px){
                    display: none;
                }
            }
            
        }  
    }
    &-right{
        background: $color2-low;
        border-radius: 30px;
        height: 100%;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        @media screen and(max-width: 780px){
            height: 460px;
            width: 80%;
        }
        & form{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            height: 100%;
            width: 80%;
            color: $font-color1;

            & input, textarea{
                background: black;
                border: none;
                border-radius: 30px;
                resize: none;
                color: $font-color1;
            }
            & input{
                height: 5vh;
            }
            & textarea{
                height: 20vh;
            }
        }

    }

    
}