nav{
    height: 10vh;
    width: 100vw;
    border-bottom: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 3;
    background: black;

    & ul{
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 40%;

        & li{
            color: $color1;
            font-family: $font2;
            font-size: 25px;

            &:hover{
                color: $color2;
            }
        }
    }
}