.projects-sort-btn{
    width: 125px;
    height: 40px;
    border: none;
    cursor: pointer;
    font-family: $font1;
    font-size: 15px;

    &:active{
        background: $color1;
        color: $font-color1;
    }
}
#send-btn{
    background: $color1-low;
    font-family: $font1;
    border-radius: 30px 3px 30px 30px;
    cursor: pointer;
}