.dynamic-text{
    color: $color2;
    text-align: center;
    writing-mode: vertical-lr;
    display: flex;
    justify-content: flex-start;
    height: 100%;
    margin-left: 1rem;
    padding-top: 2rem;
    

    &-content{
        
        font-size: 4rem ;
        overflow: hidden;
        margin: 0 auto;
        padding: 0;
        white-space: nowrap;
        border-bottom: 4px solid $color1-low;
        animation: 
            typing 3.5s steps(15),
            blink .5s linear infinite;
        
    }
}