.about{
    background: black;
    color: $font-color1;

    &-container{
        display: flex;
        height: 92vh;
        align-items: center;
        justify-content: center;
        @media screen and(max-width: 1224px){
            justify-content: space-around;
        }
        @media screen and(max-width: 980px){
            flex-direction: column;
            height: auto;
        }

        &-left{
            width: 29%;
            height: 100%;
            display: flex;
            align-items: center;
            margin-right: 1rem;
            @media screen and(max-width: 980px){
                width: auto;
            }

            & img{
                width: 350px;
                height: 470px;
                object-fit: fill;
                border-radius: 30px;
                @media screen and(max-width: 980px){
                    width: 325px;
                    height: 325px;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }
        }

        &-right{
            width: 50%;

            & p {
                line-height: 30px;
                font-size: 20px;
                @media screen and(max-width: 980px){
                    text-align: center;
                }
                
               & span{
                    color: $color1;
                }
            }
            & h1{
                @media screen and(max-width: 980px){
                    text-align: center;
                }
            }

        }
    }
}