.home{
    display: grid;
    background: black;
    grid-template-columns: 13vh 1fr;
    @media screen and(max-width: 980px){
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &-cards-container{
        display: flex ;
        justify-content: space-evenly;
        padding: 2rem;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: flex-start;
        @media screen and(max-width: 980px){
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
    }
}