@font-face {
  font-family: "Bebas-Neue";
  src: url(/src/assets/BebasNeue-Regular.ttf);
}

@font-face {
  font-family: "Kollektif";
  src: url(/src/assets/Kollektif-Bold.ttf);
  src: url(/src/assets/Kollektif-BoldItalic.ttf);
  src: url(/src/assets/Kollektif-Italic.ttf);
  src: url(/src/assets/Kollektif.ttf);
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html::-webkit-scrollbar, body::-webkit-scrollbar {
  width: 15px;
}

html::-webkit-scrollbar-track, body::-webkit-scrollbar-track {
  background: black;
}

html::-webkit-scrollbar-thumb, body::-webkit-scrollbar-thumb {
  background: #462b73;
  border-radius: 5px;
}

li {
  list-style-type: none;
}

.home {
  height: 100vh;
  background: black;
  font-family: sans-serif;
  overflow-y: hidden;
}

.home #profil-pic {
  position: relative;
  bottom: -21vh;
  left: -15vh;
  height: 98vh;
  object-fit: contain;
  width: 100%;
}

.home #js-icon img {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 1;
  height: 15vh;
}

@media screen and (max-width: 780px) {
  .home #js-icon img {
    height: 10vh;
    opacity: 0.8;
  }
}

@media screen and (max-width: 600px) {
  .home #js-icon img {
    display: none;
  }
}

.home #redux-icon img {
  position: absolute;
  bottom: 1vh;
  right: 20vh;
  opacity: 1;
  height: 20vh;
}

@media screen and (max-width: 780px) {
  .home #redux-icon img {
    height: 15vh;
    right: 13vh;
    opacity: 0.8;
  }
}

@media screen and (max-width: 600px) {
  .home #redux-icon img {
    display: none;
  }
}

.home #react-icon img {
  position: absolute;
  top: 6vh;
  left: 0;
  opacity: 1;
  height: 35vh;
}

@media screen and (max-width: 780px) {
  .home #react-icon img {
    height: 28vh;
    opacity: 0.8;
  }
}

@media screen and (max-width: 600px) {
  .home #react-icon img {
    height: 25vh;
    opacity: 0.7;
  }
}

@media screen and (max-width: 420px) {
  .home #react-icon img {
    display: none;
  }
}

.home-img-container {
  height: 90vh;
  background-image: url(/public/assets/img/bg-1.png);
  background-attachment: fixed;
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
  width: 100vw;
  margin: 0;
  padding: 0;
}

.home-text-container {
  position: absolute;
  right: 15%;
  top: 15%;
  z-index: 1;
}

.home-text-container p {
  font-family: Bebas-Neue, sans-serif;
  font-size: 60px;
  color: #fff;
  text-shadow: 2px 2px 2px rgba(72, 209, 233, 0.8);
}

.home-text-container p span {
  color: #00D8FF;
}

@media screen and (max-width: 600px) {
  .home-text-container {
    right: 0;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
  }
  .home-text-container p {
    width: 80%;
  }
}

.about {
  min-height: 100vh;
  background-color: black;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  border-top: 1px solid white;
}

.about-text-container {
  min-height: 35vh;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid white;
}

.about-text-container h1, .about-text-container p {
  color: white;
}

.about-text-container h1 {
  font-family: Bebas-Neue, sans-serif;
}

.about-text-container p {
  font-family: Kollektif, sans-serif;
  margin-top: 60px;
  font-size: 20px;
  width: 80%;
  line-height: 1.8rem;
}

.about-text-container .background-text {
  font-family: Bebas-Neue, sans-serif;
  color: rgba(255, 255, 255, 0.2);
  font-size: 8rem;
  position: absolute;
  top: -15%;
  right: 0%;
  width: 100%;
}

.about-bottom-container {
  display: flex;
  width: 90vw;
  justify-content: space-around;
  align-items: center;
}

.about-stack .stack-img img {
  height: 65px;
}

.project-text-top-container {
  height: 35vh;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: black;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.project-text-top-container h1, .project-text-top-container p {
  color: white;
}

.project-text-top-container h1 {
  font-family: Bebas-Neue, sans-serif;
}

.project-text-top-container .background-text {
  font-family: Bebas-Neue, sans-serif;
  color: rgba(255, 255, 255, 0.2);
  font-size: 8rem;
  position: absolute;
  top: 20%;
  right: 0%;
  width: 100%;
}

.projects-container {
  min-height: 80vh;
  background: black;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  grid-template-columns: 1fr 1fr;
  position: relative;
}

.projects-container-preview, .projects-container-text-container {
  height: 60vh;
}

.projects-container-text-container {
  width: 35%;
  margin-right: 2rem;
  text-align: right;
}

.projects-container-text-container h3 {
  color: white;
  font-family: Bebas-Neue, sans-serif;
  font-size: 2.5rem;
  letter-spacing: 3px;
  margin: 0px;
}

.projects-container-text-container h4 {
  color: rgba(255, 255, 255, 0.271);
  font-family: Kollektif, sans-serif;
  font-size: 1rem;
  letter-spacing: 3px;
  margin: 0px;
}

.projects-container-text-container ul {
  color: #764ABC;
  font-size: 1.8rem;
  line-height: 37px;
  font-weight: 500;
  font-family: Kollektif, sans-serif;
}

.projects-container-preview {
  width: 50%;
  background: #462b73;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.projects-container-preview img {
  height: 610px;
}

.projects-container .projects-scroll {
  position: absolute;
  font-size: 3.5rem;
  color: #b8b7b7;
  transition: 0.25s;
  user-select: none;
  padding: 0 14px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.projects-container .projects-scroll span {
  font-family: Kollektif, sans-serif;
  margin-right: 1rem;
  margin-left: 1rem;
}

.contact {
  min-height: 80vh;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.contact-top-icons {
  color: #764ABC;
  height: 10vh;
  width: 45vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.contact-top-icons-email, .contact-top-icons-phone {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
  font-family: Kollektif, sans-serif;
}

.contact-top-icons-email:hover, .contact-top-icons-phone:hover {
  background: #764ABC;
  color: black;
  border-radius: 5px;
  cursor: pointer;
}

.contact-top-icons i {
  font-size: 25px;
}

.contact-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 45vw;
  gap: 1rem;
  margin-top: 2rem;
}

.contact-form-container label {
  color: white;
  font-family: Bebas-Neue, sans-serif;
}

.contact-form-container input, .contact-form-container textarea {
  width: 100%;
  min-height: 35px;
  background: none;
  resize: none;
  border: 1px solid #764ABC;
  border-radius: 5px;
  color: white;
}

.contact-form-container input::placeholder, .contact-form-container textarea::placeholder {
  color: white;
  font-family: Kollektif, sans-serif;
  opacity: 0.8;
}

.contact-form-container textarea {
  height: 160px;
}

.contact-icons {
  position: absolute;
  left: 4rem;
  color: white;
  font-size: 30px;
  display: flex;
  bottom: 1rem;
  gap: 1.5rem;
  opacity: 0.5;
}

.contact span {
  color: white;
  font-family: 'Bebas-Neue';
  position: absolute;
  bottom: 1rem;
  right: 2rem;
}

.about-card {
  width: 245px;
  height: 245px;
  border-radius: 20px;
  background: #462b73;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 5px 5px 15px 5px rgba(255, 255, 255, 0.1);
  margin-right: 10px;
}

.about-card:hover {
  transform: scale(1.05);
  filter: brightness(130%);
}

.about-card-img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 45%;
  margin-top: 1.2rem;
}

.about-card-img-container img {
  height: 90%;
}

.about-card-text-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.about-card-text-content h3, .about-card-text-content p {
  color: white;
}

.about-card-text-content h3 {
  font-family: Bebas-Neue, sans-serif;
  font-weight: 500;
}

.about-card-text-content p {
  font-family: Kollektif, sans-serif;
}

nav {
  height: 10vh;
  width: 100vw;
  border-bottom: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 3;
  background: black;
}

@media screen and (max-width: 420px) {
  nav {
    justify-content: flex-start;
  }
}

nav .fa-solid.fa-bars {
  color: #764ABC;
  height: 8vh;
  font-size: 4vh;
  align-items: center;
  display: none;
}

@media screen and (max-width: 420px) {
  nav .fa-solid.fa-bars {
    display: flex;
  }
}

nav .fa-solid.fa-bars::before {
  display: none;
}

@media screen and (max-width: 420px) {
  nav .fa-solid.fa-bars::before {
    display: flex;
    margin-left: 1.5rem;
    cursor: pointer;
  }
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 400px;
}

@media screen and (max-width: 780px) {
  nav ul {
    width: 300px;
  }
}

@media screen and (max-width: 420px) {
  nav ul {
    display: none;
  }
}

nav ul li {
  color: #764ABC;
  font-family: Bebas-Neue, sans-serif;
  font-size: 25px;
}

@media screen and (max-width: 780px) {
  nav ul li {
    font-size: 18px;
  }
}

nav ul li:hover {
  color: #00D8FF;
}

.send-btn {
  background: #764ABC;
  color: white;
  height: 35px;
  width: 55%;
  border-radius: 5px;
  cursor: pointer;
}

.send-btn:hover {
  color: #764ABC;
  background: white;
}

.preview-btn {
  position: absolute;
  top: 61vh;
  color: #764ABC;
  background: black;
  height: 50px;
  width: 140px;
  border-radius: 50px;
  font-family: Kollektif, sans-serif;
  font-size: 1rem;
  border: none;
  cursor: pointer;
}

.preview-btn:hover {
  background: white;
}
/*# sourceMappingURL=index.css.map */