@font-face {
    font-family: "Krona-one";
    src: url(/src/assets/KronaOne-Regular.ttf);
}

$font1 : Krona-one, sans-serif;

// Main colors for blocs

$color1 : #9200EB;
$color2 : #393939;

// Main color var with tranparency

$color1-low: rgba(146, 0, 235, 0.5);
$color2-low: rgba(57, 57, 57, 0.8);

// Main color for fonts

$font-color1 : #FFFFFF;
$font-color2 : #D4D4D4;


html, body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: $font1;
    box-sizing: border-box;
    
    &::-webkit-scrollbar {
        width: 15px;
    }
    &::-webkit-scrollbar-track {
        background: black;
    }
    &::-webkit-scrollbar-thumb {
        background: $color1-low;
        border-radius: 5px;
    }

}

li{
    list-style-type: none;
}

a.active{
    color: $color1;
}
a{
    text-decoration: none;
    color: $font-color2;
}
