@font-face {
    font-family: "Bebas-Neue";
    src: url(/src/assets/BebasNeue-Regular.ttf);
}
@font-face {
    font-family: "Kollektif";
    src: url(/src/assets/Kollektif-Bold.ttf);
    src: url(/src/assets/Kollektif-BoldItalic.ttf);
    src: url(/src/assets/Kollektif-Italic.ttf);
    src: url(/src/assets/Kollektif.ttf);
}

$font1 : Kollektif, sans-serif;
$font2 : Bebas-Neue, sans-serif;


$color1 : #764ABC;
$color2 : #00D8FF;
$color3 : #f3f2f2;

$color1-low: #462b73;

$font-color1: white;

html, body{
    margin: 0;
    padding: 0;
}

li{
    list-style-type: none;
}